<% content_for :section_title, "Ativos" %>
<div class="row">
  <div class="col-md-4">
    <%= link_to 'Novo Ativo', new_stock_path, class: 'btn btn-primary float-lg-right' %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Sigla</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @stocks.each do |stock| %>
        <tr>
          <td><%= stock.name %></td>
          <td><%= stock.initials %></td>
          <td><%= link_to 'Mostrar', stock %></td>
          <td><%= link_to 'Editar', edit_stock_path(stock) %></td>
          <td><%= link_to 'Excluir', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



